*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html,body{
    height: 100%;
    background-color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: "Clarity city";
  }

  .center{
    max-width: 2250px;
    margin: 0 auto;
  }
  
  .clear{
    clear: both;
  }

  /*MENU*/
header{
    width: 100%;
    height: 75px;
    background-color: black;
    position: fixed;
    z-index: 4;
}

.logo img{
    width: 45px;
    padding-top: 25px;
    display: block;
    margin: 0 auto;       
}

  header nav{
    float: right;
  }
  
  header nav ul{
    list-style-type: none;
  }

  header nav li{
    float: left;
    margin-top: -35px;
    margin-right: 42px;
    padding: 16px;
}

  header ul a{
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
  }

  nav a:hover, nav a:focus{
    color: #5c27c6;
  }

  .box{
    width: 100%;
    height: 75px;
  }
  
  .hamburger-menu{
    display: none;
  }
  /*MENU*/

  /*GALERIA*/
section.container{
    width: 100%;
    max-width: 2250px;
    margin: 5px auto;
    padding: 0 auto;
}

section.galeria{
    width: calc(100% / 3);
    padding-bottom: 26.720%;
    float: left;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
  }

  section.capa{
    background-image: url('../imagens/sunset.jpg');
  }

  .overlay{
    position: absolute;
    top:0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    background-color: rgba(255,255,255, .05);
    box-shadow: 0 0  rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    
    
  }

  .overlay:hover{
    opacity: 0.99;
  }

  h2.titulo{
    color: #ffffff;
    position: relative;
    top: 70%;
    padding-left: 25px;
    font-size: 24px;

}
/*GALERIA*/

footer{
    width: 100%;
    height: 70px;
    background-color: black;
}

.logo2 img{
    width: 98px;
    margin: 25px -140px 0 40px;
    float: left;
}

.btn a{
    color: aliceblue;
    padding: 25px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}

.btn a:hover, .btn a:focus{
    color:#5c27c6;
}

.btn a::after{
    content: "";
    display: block;
    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url("../imagens/seta.png");
    background-size: 12px;
    background-repeat: no-repeat;
    margin-top: 10px;
    transition: width 200ms, margin-left 200ms;
}

.btn a:is(:hover,:focus)::after{
    width: 20px;
    margin-left: 8px;
}
/*RODAPE*/

/*RESPONSIVO*/
@media screen and (max-width: 1024px){

.menu-desck{
    display: none;
}  

/*MENU*/
header, .box{
  height: 65px;
}

.logo img{
  width: 42px;
  padding-top: 22px;       
}
/*MENU*/

/*MENU MOBILE*/
.hamburger-menu{
    display: inherit;
  }  
  
  #menu_toggle {
  opacity: 0;
  }
  #menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
  }
  #menu_toggle:checked + .menu_btn > span::before{
  top: 0;
  transform: rotate(0deg);
  }
  #menu_toggle:checked + .menu_btn > span::after{
  top: 0;
  transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menu_box{
  left: 0 !important;
  }
  .menu_btn{
  position: relative;
  float: right;
  top: -12px;
  right: 28px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  }
  
  .menu_btn > span, 
  .menu_btn > span::before,
  .menu_btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
  }
  
  .menu_btn > span::before{
  content: '';
  top: -8px;
  }
  
  .menu_btn > span::after{
  content: '';
  top: 8px;
  }
  
  .menu_box{
  display: block;
  position: fixed;
  top: 65px;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.628);
    box-shadow: 0 0  rgb(0, 0, 0);
    backdrop-filter: blur(10px);
  }
  
  .menu_item{
  display: block;
  text-align: center;
  padding: 40px;
  font-family: clarity city;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
  }
  
  .menu_item:hover{
    color: #5c27c6;
  }
  /*MENU MOBILE*/

  /*GALERIA*/
section.galeria{
    width: 50%;
    padding-top: 13.370%;
  } 
  /*GALERIA*/
}

  @media screen and (max-width: 750px){
    
    /*MENU*/
header, .box{
  height: 55px;
}

.logo img{
  width: 34px;
  padding-top: 19px;       
}
/*MENU*/

/*MENU MOBILE*/

  .menu_btn{
  top: -12px;
  right: 22px;
  width: 20px;
  height: 26px;

  }
  
  .menu_btn > span, 
  .menu_btn > span::before,
  .menu_btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 1.8px;
  background-color: #dbdbdb;
  }
  

  
  .menu_box{
  display: absolute;
  position: fixed;
  top: 55px;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.628);
  backdrop-filter: blur(10px);
  z-index: 8;
  }
  
  .menu_item{
  display: block;
  text-align: center;
  padding: 40px;
  font-family: clarity city;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
  }
  

  /*MENU MOBILE*/
    
    /*GALERIA*/
    section.galeria{
    width: 100%;
     padding-top: 53%;
   } 
   /*GALERIA*/
  
   footer{
    width: 100%;
    height: 70px;
}

.logo2 img{
    width: 75px;
    margin: 25px -140px -50px 18px;
}

.btn a{
    padding: 18px;
    font-size: 14px;
}


.btn a::after{
    width: 0px;
    height: 24px;
    background-size: 12px;
    margin-top: 10px;

}

.btn a:is(:hover,:focus)::after{
    width: 20px;
    margin-left: 8px;
}
/*RODAPE*/


}

/*RESPONSIVO*/


  