
/*INTRO*/
.texto{
    color: #d6d4cc;
    text-align: center;
    padding: 120px 100px 150px 100px;
}
 .texto h2{
    font-size: 68px;
    padding-bottom: 20px; 
    font-family: ClarityMedium;
}
.texto p{
    font-size: 20px;
}
/*INTRO*/

/*GALERIA*/
section.container{
    width: 100%;
    max-width: 2250px;
    margin: 5px auto;
    padding: 0 auto;
}

section.galeria{
    width: calc(100% / 3);
    padding-bottom: 26.720%;
    float: left;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

section.capa{
    background-image: url('../imagens/capa.jpg');
}

section.capaGABI{
  background-image: url('../imagens/CAPA1_GABI.jpg');
}
/*
.overlay{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    background-color: rgba(255,255,255, .05);
    -webkit-background-color: rgba(255,255,255, .05);
    box-shadow: 0 0  rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0  rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    
    -moz-background-color: black;
}

.overlay:hover{
    opacity: 0.99;
}*/

.overlay{
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.70);
}

.overlay:hover{
  opacity: 0.99;
}

h2.titulo{
    color: #ffffff;
    position: relative;
    top: 20%;
    padding-left: 35px;
    font-size: 24px;
}
/*GALERIA*/

/*RESPONSIVO*/
@media screen and (max-width: 1024px){
     /*INTRO*/
  .texto{
    padding: 100px 150px 120px 150px;
  }

  .texto h2{
    font-size: 50px;
    padding-bottom: 16px; 
  }

  .texto p{
    font-size: 17px;
  }
  /*INTRO*/

    /*GALERIA*/
    section.galeria{
    width: 50%;
    padding-top: 13.370%;
  } 
  /*GALERIA*/
}

@media screen and (max-width: 800px){
     /*INTRO*/
  .texto{
    padding: 80px 30px;
  }

  .texto h2{
    font-size: 30px;
    padding-bottom: 14px; 
  }

  .texto p{
    font-size: 14px;
  
  }
  /*INTRO*/

     /*GALERIA*/
     section.galeria{
        width: 100%;
         padding-top: 53%;
       } 
       /*GALERIA*/
}