/*INTRO*/
.texto{
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 120px 100px 150px 100px;
}
 .texto h2{
    font-size: 42px;
    padding-bottom: 20px; 
    font-family: Monument;
}

/*INTRO*/

/*GALERIA*/
section.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 40px 30px;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 80px;
  }
  
  section.galeria{
    height: 300px;
    background-color: rgb(140, 109, 68);
    border-radius: 22px;
    cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .overlay{
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 22PX;
  }
  
  .overlay:hover{
    opacity: 0.99;
  }
  
  h2.titulo{
      color: #ffffff;
      position: relative;
      top: 20%;
      padding-left: 10%;
      font-size: 24px;
  }

/*GALERIA*/